<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGame" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51845/Game.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGame" contract="GameReference.IGame"
                name="WSHttpBinding_IGame">
                <identity>
                    <userPrincipalName value="MULI-PC\muliy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>